PyInstaller
dmgbuild
mailjet_rest
numpy
openai
openai-whisper
torch
tiktoken
pvporcupine==2.1.0
google-api-python-client
google-cloud-texttospeech
google-cloud-core
certifi
soundfile
spacy
beautifulsoup4
keyring
PySide6
gtts
pydub
googlesearch-python
openwakeword
chromadb==0.3.21
PyAudio==0.2.13