mailjet_rest
numpy
openai
openai-whisper
py2app
PyAudio==0.2.12
tiktoken
pvporcupine
SpeechRecognition
google-api-python-client
google-cloud-texttospeech
certifi
soundfile
pipdeptree
spacy
beautifulsoup4
keyring
PyQt6
scikit-learn
dmgbuild
gtts
pydub
googlesearch-python
pocketsphinx